.box_buttonMercadoPago {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.box_buttonMercadoPago_container {
  margin-top: 40px;
  display: flex;
  width: 85%;
  height: 55vh;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.box_buttonMercadoPago_izq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.box_buttonMercadoPago_izq > img {
  position: relative;
  width: 100%;
  height: 100%;
}

.box_buttonMercadoPago_der {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 100%;
  background-color: #ffbf69;
}

.box_buttonMercadoPago_der_h2 {
  color: #fff;
  font-weight: 800;
}
.box_buttonMercadoPago_der_p {
  font-size: 1.6rem;
  margin: 0 150px;
  margin-top: 20px!important;
  margin-bottom: 20px;
  letter-spacing: 0.1px;
}
.box_buttonMercadoPago_der > button {
  font-size: 1.4rem;
  margin: 0 150px;
  background-color: #2ec4b6;
  color: #fff;
  border-radius: 30px;
  width: 390px;
  height: 49px;
  margin-top: 10px;
  font-weight: 700;
  border-color: transparent;
  opacity: 0.9;
  cursor: pointer;
}
.box_buttonMercadoPago_der > button:hover {
  font-size: 1.45rem;
  width: 395px;
  height: 49px;
  opacity: 1;
  transition: all 0.2s ease;
}

.box_preguntasFrecuentes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.box_preguntasFrecuentes_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 85%;
  height: 45vh;
  background-color: #2ec4b6;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.box_preguntasFrecuentes_container > h2 {
  color: #fff;
  font-size: 3.2rem;
}

.pepe {
  display: none !important;
}


.containerPagos {
  display: flex;
  justify-content: space-evenly;
}

.paypalContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-right: 200px;
  padding-top: 150px;
 
}
.paypalContainer input {
  width: 150px;
  height: 25px;
  font-size: 20px;
  border-radius: 3px;
  margin-left: 50px;
  border: none;
  margin-top: 7px;
}
.paypalContainer label {
  color: rgba(44, 43, 43, 0.938);
  font-size: 18px;
  font-weight: bold;
}
.mpContainer label {
  color: rgba(44, 43, 43, 0.938);
  font-size: 18px;
  font-weight: bold;
}
.inputPaypal {
  margin-bottom: 40px;
}
.mpContainer {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  
  width: 250px;
}
.mpContainer input {
  width: 150px;
  height: 25px;
  font-size: 20px;
  border-radius: 3px;
  margin-left: 50px;
  border: none;
  margin-top: 7px;
}
.mpContainer > button {
  margin-top: 40px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  margin-bottom: 5px;
  
}
.mpContainer > button:hover {
  background-color: #2ec4b523;
  border: none;
  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}