.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: rgba(243, 243, 243, 0.54);
    border: 1px solid #C8C8C8;
    box-sizing: border-box;
    border-radius: 23px;
    height: 170px;
    width: 81.5vw;
    justify-content: center;
    align-items: center;
    margin: 100px;
    margin-left: 153px;
    }

.div1 { 
    width: 130px;
    border-radius: 100px;
    grid-area: 1 / 1 / 3 / 2; 
    margin-left: 40px;
}

.div2 { 
    margin-left: -300px;
    grid-area: 1 / 2 / 3 / 3; }

.div2 h1 {
    color: #2EC4B6;
    margin-top: 35px;
}

.div3 { grid-area: 1 / 3 / 3 / 4; }

.transactionDiv{
    background-color: white;
    font-size: 15px;
    width: 400px;
    height: 20px;
    margin-bottom: 2px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    border-radius: 3px;
    color: rgb(47, 47, 47);
}

.userContainer {
    width: 81.5vw;
    margin-left: 8vw;
    border-radius: 23px;
    border: 1px solid #C8C8C8;
}

