.containerProjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* proyect component container */
.projectsContainer{
    display: flex;
    flex-direction: column; 

    width: 100%;

    justify-content: center;
    align-items: center;

    text-align: center;
}

.cardContainer{
    display: flex;
    flex-direction: column; 
    
    width: 80%;
    min-height: 10rem;
    margin: 2.5rem 1rem;
    
}

/* style for paged */
.pageNumbers {
    list-style: none;
    display: flex;
}

.pageNumbers li {
    padding: 1rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
}


.pageNumbers li.active {
    background-color: #FFBF69;
    color: #fff;
}

.buttonPrevNext  {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
}
.buttonPrevNext:hover {
    background-color: #FFBF69;
    color: #fff;
}

.buttonPrevNext:focus {
    outline: none;
}