/* * Contenedor principal del componente */

html {
    font-size: 16px;
}

.container {
    background-color: #EDEDED;
    
    text-align: center;
    min-height: 100%;

    padding: 2rem 0;
}

/* Contenedor del texto de terminos y condiciones */
.termsAndConditionsTextContainer {
    display: flex;
    flex-direction: column;
    text-align: start;

    background-color: #fff;

    padding: 1rem;
    margin-top: 2rem;   
    border-radius: .4rem;

}

.termsAndConditionsTextContainer p{
    margin-top: 1rem;
    font-size: .9rem;
}
