html {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;   
}

/* Container */
.container {
    padding: 3rem 0;
    background-color: #EDEDED;
}


    /* Card container */
.CardContainer {
    height: 100%;
    width: 50%;
    
    margin: 2rem auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    align-items: center;

}

/* Container inputs */
.containerInputs {
  display: flex;
  flex-direction: column;

  align-items: center;
 
  width: 90%;
}
    

/* Title form */
.CardContainer h1 {
    color: #000;
    font-size: 1.5rem;
}


/* Labels */
.CardContainer label{ 
    font-size: 1rem;   
    margin-top: 1.5rem;     
    color: #000;
    margin-right: auto;
}

/* Inputs */
.inputs {
    width: 100%  ;
}


/* Button */
.CardContainer button {
    display: block;
    margin: 1rem auto;
    width: 20%;
}














@media screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  .projectsContainer h1 {
    font-size: 2.5rem;
  }

  .projectsContainer h3 {
    font-size: 1.4rem;
    margin: 1rem 0 2rem 0;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }

    /* Card container */
  .CardContainer {
    width: 70%;
  }


  /* Title from project */
  .blackEffect h2 {
    font-size: 1.6rem;
    margin: 0.1rem 0 0.3rem 0;
  }

  /* Description from project */
  .blackEffect h4 {
    font-size: 1.15rem;
    margin: 0;
  }

  /* Container View more button */
  .viewMoreButton button {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 13px;
  }

  /* Description from project */
  .blackEffect h4 {
    font-size: 1.09rem;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }



  /* Container from cards */
  .cardContainer {
    width: 90%;
    height: 30rem;
  }

  /* Title from project */
  .blackEffect h2 {
    font-size: 1.4rem;
    margin: 0.1rem 0 0.7rem 0;
  }

  /* Description from project */
  .blackEffect h4 {
    font-size: 1.07rem;
    margin: 0;
  }

  /* Container View more button */
  .viewMoreButton button {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }

      /* Card container */
    .CardContainer {
        height: 100%;
        width: 85%;
        
        margin: 0 auto;
        padding: 1rem;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

    }

}
