:root {
    --mainColor: #2EC4B6;
    --backgroundColor: #CBF3F0;
    --fontFamily: "Ubuntu";
}

.containerTitle {
    background-color: var(--mainColor);
    width: 85vw;
    height: 100px;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 3em;
    font-family: var(--fontFamily);
    color: white;
    
    
}

.containerParagraph {
    background-color: var(--backgroundColor);
    width: 85vw;
    margin-left: 100px;
    height: 35vh;
}

.p {
    color: black;
    font-family: var(--fontFamily);
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 25px;
    padding-top: 30px;
    
}

.containerP {
    width: 75vw;
    margin-left: 70px;
}
.containerQuestionsTitle {
    background-color: var(--mainColor);
    width: 85vw;
    height: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Subtitle {
    font-size: 3em;
    font-family: var(--fontFamily);
    color: white;
    
}

.containerQuestions {
    background-color: var(--backgroundColor);
    width: 85vw;
    margin-left: 100px;
    height: 600px;
   padding-top: 40px;
}

.containerQuestionsInside {
    background-color: var(--mainColor);
    height: 500px;
    width: 75vw;
    margin-left: 70px;
   display: flex;
   flex-direction: column;
   
   align-items: center;
}

.h4 {
    color: white;
    font-weight: bold;
    font-family: var(--fontFamily);
    margin-top: 20px;
}
.span {
    border: 1px solid #2AB2A6;
    width: 60vw;
    margin-top: 30px;
}

.containerLastParagraph {
    background-color: var(--backgroundColor);
    width: 65vw;
    margin-top: 30px;
    height: 170px;
}
.containerLastParam {
    width: 50vw;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 110px;

}
.lastP {
    color: black;
    font-family: var(--fontFamily);
    line-height: 30px;
    padding-top: 17px;
    font-weight: bold;
}