:root {
    --mainColor: #2EC4B6;
    --backgroundColor: #CBF3F0;
    --fontFamily: "Ubuntu";
}


.main {
max-width: 100%;
display: flex;
flex-direction: column;
}
.containerTitle {
    background-color: var(--mainColor);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 50px;
}
.title {
    font-size: 1.5em;
    font-family: 'Code Next';
    color: white;
}
.containerParagraph {
    background-color: var(--backgroundColor);
    height: 100%px;

}
.p {
    max-width: 1000px;
    color: black;
    font-family: var(--fontFamily);
    font-weight: bold;
    line-height: 1.4;
   
    padding-top: 30px;
    
}
.containerP {
   width: 95vw;
   text-align: center;
   display: flex;
   flex-direction: column;
    align-items: center;
}

.containerQuestionsTitle {
    background-color: var(--mainColor);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerQuestionsTitle h3 {
    font-family: 'Code Next';
}
.box_preguntasFrecuentes_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    background-color: #2ec4b6;
}




