.space {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 6vw;
    margin-right: 3vw;
    align-items: center;
    padding-right: 4vw;
}

.navbar{
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 24vw;
    list-style: none;
    background-color: #2EC4B6;
    border-radius: 10px;
    padding-inline-start: 0px;
    color: white;
    font-family: "Ubuntu";
}
.navbar>li {
    padding: 10px;
}

.navbar div {
    font-family: "Ubuntu";
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: "Ubuntu";
    font-weight: normal;
}

.button {
    width: 137px;
    height: 59px;
    top: 89px;
    background: linear-gradient(106.11deg, #FFBF69 27.75%, #2EC4B6 100%);
    border-radius: 44px;
    border: none;
    color: white;
    font-size: 35px;
    font-family: 'Code Next';
    font-weight: bold;
    cursor: pointer;

}

.button:hover{
    background: linear-gradient(106.11deg, #2EC4B6 5%, #FFBF69 100%);
}
.navbar>li:hover {
    border-bottom: 2px solid #FFBF69;
}
