

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 
 
 /* ANIMACIONES */

@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
  }

  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }




.space {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 6vw;
    *margin-right: 3vw;
    align-items: center;
    *padding-right: 4vw;
    max-width: 90%;
}

.logo1 {
    display: flex;
}

.logo2{
    display: none;
}

.navbar{
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 24vw;
    list-style: none;
    background-color: #2EC4B6;
    border-radius: 10px;
    padding-inline-start: 0px;
    color: white;
    font-family: "Ubuntu";
    text-align: center;
    align-items: center;
}

.iconMenu a {
    text-decoration: none;
    color:#2EC4B6 ;


}

.navbar>li {
    padding: 10px;
    justify-content: center;
}

.navbar div {
    font-family: "Ubuntu";
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: "Ubuntu";
    font-weight: normal;
}

.iconMenu{
    width: 50px;
    height: 50px;
    top: 20px;
    margin-right: 16px;
    font-size: 20px;
    background-color: #fafafa ;
    border-radius: 100%;
    color: #2EC4B6;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
    padding: 10px;
}

.iconMenu:hover{
   opacity: 0.8;
}



.button {
    width: 137px;
    height: 59px;
    top: 89px;
    background: linear-gradient(106.11deg, #FFBF69 27.75%, #2EC4B6 100%);
    border-radius: 44px;
    border: none;
    color: white;
    font-size: 35px;
    font-family: 'Code Text';
    font-weight: bold;
    cursor: pointer;
    margin-left: -153px;

}

.button:hover{
    background: linear-gradient(106.11deg, #2EC4B6 5%, #FFBF69 100%);
    transition: 0.5s;
}
.navbar>li:hover {
    border-bottom: 2px solid #FFBF69;
}


/* Responsive Desing - adaptable a dispositivos moviles */
@media screen and (max-width: 2560px){

    .navbarActive {
        display: flex;
        text-decoration: none;
        justify-content: center;
        width: 24vw;
        list-style: none;
        background-color: #2EC4B6;
        border-radius: 10px;
        padding-inline-start: 0px;
        color: white;
        font-family: "Ubuntu";
        text-align: center;
    }

    .navbarActive>li {
        padding: 10px;
        justify-content: center;
    }
    .navbarActive>ul {
        font-size: 20px;
    }
    
    .navbarActive div {
        font-family: "Ubuntu";
        cursor: pointer;
    }
    
    .navbarActive a {
        text-decoration: none;
        color: white;
        font-family: "Ubuntu";
        font-weight: normal;
    }
    .navbarActive>li:hover {
        border-bottom: 2px solid #FFBF69;
    }

}

@media screen and (max-width: 1880px){
    .space{
        justify-content: space-around;
        justify-items: center;
    }

}


@media screen and (max-width: 1350px) {
    .space {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar{
        display: none;
    }

    .navbarActive {
        display: flex;
        text-decoration: none;
        list-style: none;
        background-color: #2EC4B6;
        padding-inline-start: 0px;
        color: white;
        font-family: "Ubuntu";
        text-align: center;
        overflow: hidden;
        width: 20vw;
        height: 30vh;
        position: absolute;
        right: 100px;
        border-radius: 5px;
        flex-direction: column;
        justify-content: space-evenly;
        -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }


    .navbarActive li {
        padding-top: 15px;
        font-size: 18px;
        -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    
    }

    .navbarActive li a:hover {
        border-bottom: 2px solid #FFBF69;
        transition: all .3s;
    }
    .navbarActive li a:visited {
        color: white;
    }

    .button {
        margin-left: -272px;
    }


    .iconMenu{
        display: flex;
        margin-right: 58px;
    }

}

@media screen and (max-width: 1024px) {

    .button{
        margin-left: -177px;
    }

}

@media screen and (max-width: 850px) {
    
    .space{
        max-width: 700px;
        padding-right: 0px;
        margin-left: 12vw;
        margin-right: -15vw;
    }
    
    .logo1{
        width: 220px;
    }

    .navbarActive {
        right: 90px;
    }

    .button{
        margin-left: -134px;
    }

}

@media screen and (max-width: 768px) {

    .space {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .iconMenu{
        margin-right: -46px
    }

    .navbarActive{
        right: 80px;
    }
}

@media screen and (max-width: 650px){
    .space{
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }

    .iconMenu{
        margin-right: -6px;
    }

    .button{
        margin-left: -65px;
    }

    .navbarActive {
        right: 38px;
    }
}


@media screen and (max-width: 580px) {

    .space{
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0px;
    }

    .logo1{
        display: none;
    }
    .logo2{
        display: flex;
        margin-right: 73px;

    }

    .button {
        width: 130px;
        margin-right: 75px;
        margin-left: 0px;
    }

    .navbarActive {
        width: 30vw;
        right: 24px;

    }
}

@media screen and (max-width: 480px) {
    .space {
        justify-content: space-around;
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0px;
    }

    .button {
        width: 90px;
        font-size: 23px;
    }
    .logo2 {
        width: 80px;
    }
    .iconMenu{
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 320px) {

    .space {
        max-width: 220px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo2{
        width: 50px;
        margin-right: 21px;
    }

    .button {
        width: 70px;
        height: 50px;
        font-size: 19px;
        text-align: center;
        margin-right: 21px;
    }

    .iconMenu {
        width: 30px;
        height: 30px;
        margin-right: 0px;
    }

    .navbarActive li {
        font-size: 14px;
    }
}