html {
    font-size: 16px;
    font-family: 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* Component container from news detail */
.componentContainerFromProjectDetail {
    width: 100%;
    height: 100%;
}


    /* Container new detail */
.containerDetailProject {
    display: flex;
    flex-direction : column;
    
    align-items: center;
    text-align: center;

    background-color: #282D32;

    margin: 3rem;
    border-radius: 10px;

    padding: 1rem;
    word-wrap: break-word;
}

/* Title */
.containerDetailProject h1 {
    color: #fff;
    font-size: 2.5rem;
    width: 100%;

}


    /* Cantainer img */
.containerImg {
    width: 40%;
    height: auto;
}

/* Img */
.containerDetailProject .containerImg img {
    width: 100%;
    height: 100%;

    border-radius: 10px;

}



/* Description */
.containerDetailProject h3 {
    color: #fff;
    font-size: 1rem;
    width: 100%;
}


@media screen and (max-width: 1200px) {
    html { 
        font-size: 15px;
    }

    /* Cantainer img */
    .containerImg {
        width: 60%;
        height: auto;
    }
}


@media screen and (max-width: 1024px) {
    html { 
        font-size: 14px;
    }
}



@media screen and (max-width: 768px) {
    html { 
        font-size: 13px;
    }

    
     /* Title */
     .containerDetailProject h1 {
        font-size: 2rem;
    }

        /* Cantainer img */
    .containerImg {
        width: 70%;
        height: auto;
    }

}


@media screen and (max-width: 480px) {
    html { 
        font-size: 13px;
    }

    
     /* Title */
     .containerDetailProject h1 {
        font-size: 2rem;
    }

        /* Cantainer img */
    .containerImg {
        width: 70%;
        height: auto;
    }
}



@media screen and (max-width: 320px) {
    html { 
        font-size: 12px;
    }

        /* Cantainer img */
    .containerImg {
        width: 70%;
        height: auto;
    }

}
