* {
    padding: 0;
    margin: 0;
} 


    /* Contenedor de todo el componente */
.container{ 
    display: flex;
    flex-direction: column;
    color: #000;
    text-align: center;
}

.container h1 {
    color: #2EC4B6;
}
 


    /* Contenedor de todo el slider */
.sliderContainer {
    padding: 4%;
}

/* Flechas */
.slick-prev:before, .slick-next:before {
    color: #FF9F1C;
    font-size: 40px;
    opacity: 1;
}


/* Contenedor de titulos y descripciones */
.cardProjectContainer .titleDescriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-break:break-all;
    width: 80%;
    margin: auto;
    /* cursor: pointer; */
}

/* Titulo de proyecto */
.cardProjectContainer .titleDescriptionContainer h2 {
    color: #2EC4B6;
}

/* Descripcion de proyecto */
.cardProjectContainer .titleDescriptionContainer p {
    padding-top: 1rem ;
    color: #000;
}

/* Contenedor de imagen de proyecto */
.imgProjectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
}

/* Imagen de proyecto */
.imgProjectContainer img{
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 1rem;
}




