
html {
    font-size: 16px;
}

/* Contenedor de todo el componente */
.container{ 
    display: flex;
    flex-direction: column;
    color: #000;
    text-align: center;

    margin: 3rem 7rem 7rem 7rem;
}

.container h1 {
    color: #FF9F1C;
}
 


    /* Contenedor de todo el slider */
.sliderContainer {
    margin-top: 1rem;
}

/* Flechas */
.slick-prev:before, .slick-next:before {
    color: #FF9F1C;
    font-size: 40px;
    opacity: 1;
}

.slick-next:before {
    content: "▶";
}  

.slick-prev:before{
    content: "◀ ";
    position: relative;
    left: -1rem;
}


/* Contenedor de titulos y descripciones */
.cardProjectContainer .titleDescriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    word-break:break-all;
    font-size: 1rem;

    width: 80%;
    margin: auto;
}

/* Titulo de proyecto */
.cardProjectContainer .titleDescriptionContainer h2 {
    color: #2EC4B6;
    font-size: 1.5rem;
}

/* Descripcion de proyecto */
.cardProjectContainer .titleDescriptionContainer p {
    padding-top: 1rem ;
    color: #000;
}

/* Contenedor de imagen de proyecto */
.imgProjectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Imagen de proyecto */
.imgProjectContainer img{
    width: 93%;
    height: 22rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.MuiButton-root, .button {
    background-color: #fff;
}







@media screen and (max-width:850px) {
    html {
        font-size: 14px;
    }

    /* Texto encabezado "Galeria de proyectos" */
    .containerCard h1 {
        font-size: 1.5rem;
    }
     

    /* Titulo de proyecto */
     .cardProjectContainer .titleDescriptionContainer h2 {
        color: #2EC4B6;
        font-size: .9rem;
    }


    /* Descripcion de proyecto */
    .cardProjectContainer .titleDescriptionContainer p {
        font-size: .8rem;
    }

    /* Imagen de proyecto */
    .imgProjectContainer img{
        width: 98%;
        height: 9rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }


    /* Boton ver mas button */
    .cardProjectContainer button {
        width: 7rem;
        height: 1.5rem;
    }


}

@media screen and (max-width:768px) {
    html {
        font-size: 13px;
    }


    /* Boton ver mas button */
    .cardProjectContainer button {
        width: 8rem;
        height: 1.5rem;
    }


}



@media screen and (max-width:540px) {
    html {
        font-size: 12px;
    }

    .container{ 
        margin: 2rem 2rem 3rem 2rem;
    }
    
    /* Flechas */
    .slick-prev:before, .slick-next:before {
        display: none;
    }

    /* Texto encabezado "Galeria de proyectos" */
    .containerCard h1 {
        font-size: 1.3rem;
    }
     

    /* Titulo de proyecto */
     .cardProjectContainer .titleDescriptionContainer h2 {
        color: #2EC4B6;
        font-size: .8rem;
    }


    /* Descripcion de proyecto */
    .cardProjectContainer .titleDescriptionContainer p {
        font-size: .7rem;
    }

    /* Imagen de proyecto */
    .imgProjectContainer img{
        width: 98%;
        height: 6rem;
        margin-bottom: .3rem;
        border-radius: .3rem;
    }


    /* Boton ver mas button */
    .cardProjectContainer button {
        width: 3rem;
        height: 3rem;
    }

}

    
    

