@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
@font-face {
  font-family: 'Code Text';
  src: url(./transfonter.org-20211208-033256/);
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

